extends layout

block content
  h1.pt-5.text-center URL 短縮サービス
  .w-50.m-auto
    #app
  script(src='https://unpkg.com/react@18/umd/react.development.js' crossorigin)
  script(src='https://unpkg.com/react-dom@18/umd/react-dom.development.js' crossorigin)
  script(src='https://unpkg.com/@babel/standalone/babel.min.js' crossorigin)
  script(type="text/babel" src='index.js')